<p> 1. Mengapa setiap bahasa pemrograman itu terdapat framework, apa kegunaan
    framework ? </p>
    
    <p> Jawaban : </p>
    <p> Framework dalam pemrograman seperti kerangka kerja, yang memberikan Anda fitur-fitur dan serta tool untuk membangun program tanpa harus memulainya dari nol. Jadi, dengan menggunakan framework dapat membuat program dengan lebih cepat dan mudah </p>
    
    