<p> 10. Jelaskan Apa itu API? sebutkan contohnya. </p>

<p> jawaban : </p>

<p> API (Application Programming Interface) yang memungkinkan pengembang untuk memanfaatkan fungsionalitas yang telah ada dalam program lain tanpa harus membangun semuanya dari awal. </p>
<p> contohnya </p>

<p> RESTful API: Menggunakan HTTP request seperti GET, POST, PUT, DELETE untuk berinteraksi dengan data melalui URL. </p>
<p> SOAP API: Menggunakan protokol SOAP (Simple Object Access Protocol) untuk bertukar pesan terstruktur melalui jaringan. </p>