<p> 2. Jelaskan mengenai fungsi dan penggunaan if else, while, while do, switch case, for,
    foreach? </p>
    
    <p> Jawaban : </p>
    <p> if-else digunakan untuk membuat keputusan dalam program, menggunakan suatu kondisi, jika suatu kondisi terpenuhi maka kode akan dijalankan, tapi jika kondisi tidak terpenuhi maka kode lain yang akan dijalankan. </p>
    
    <p> while digunakan untuk menjalankan kode program secara berulang selama kondisi terpenuhi dan bernilai benar. <p>
    
    <p> do-while sama dengan while tapi kode program akan dijalankan sekali sebelum tahu kondisinya terpenuhi atau tidak. </p>
    
    <p> switch-case digunakan untuk memilih action berdasarkan nilai tertentu dari yang dideklasrikan. <p>
    
    <p> for digunakan untuk mengulang kode program dengan jumlah tertentu dan digunakan saat kita tau berapa kai kode itu akan diulang </p>
    
    <p> foreach digunakan untuk mengulang setiap data seperti array dan memungkinkan untuk mengecek setiap elemen tanpa harus menghitung secara manual. </p> 