<p> 3. Apa itu constructor, method, class, object, variabel, parameter, function, procedure. </p>

<p> Jawaban : </p>

<p> class adalah untuk membuat sebuah objek, dan mendefinisikan nilai dan variabel yang dimiliki oleh objek. </p>

<p> object adalah nilai yang didefinisikan oleh class. </p>

<p> constructor adalah metode khusus dalam sebuah yang secara otomatis dipanggil saat objek dibuat. </p>

<p> method adalah fungsi atau tindakan yang dapat dilakukan oleh objek. methode didefinisikan di dalam sebuah class dan digunakan untuk melakukan tugas tertentu.  </p>

<p> variabel adalah data dalam sebuah program. yang dapat berubah nilainya selama menjalankan sebuah program. </p>

<p> parameter adalah nilai yang jalankan ke sebuah fungsi atau metode saat dipanggil. </p>

<p> function adalah kode program yang dapat dipanggil untuk melakukan tugas dan menerima input, menjalankan dan menghasilkan sebuah output hasil yang telah diberikan. </p>

<p> procedure adalah kode program yang sama seperti function, namun tidak menghasilkan output yang dijalankan. </p>