<p> 4. Perbedaan method=”Post” dan “Get”. </p>

<p> Jawaban : </p>

<p> perbedaan antara method Get dan Post adalah dari segi kegunaannya, Get biasanya digunakan untuk menganmbil data dari server. sedangkan Post biasanya digunakan untuk mengirim data ke server untuk di proses. </p>