<p> 5. Jelaskan konsep mengenai web service dan fungsi apa yang digunakan untuk
    memanggil web service client. </p>
    
    <p> Jawaban : </p>	
    
    <p> Merupakan sebuah layanan yang disediakan oleh sebuah sistem komputer untuk berinteraksi dengan sistem lain melalui jaringan, seperti Internet. Layanan ini memungkinkan sistem yang berbeda, yang mungkin dibangun dengan bahasa pemrograman atau teknologi yang berbeda, untuk berkomunikasi dan berbagi data satu sama lain. </p>