<p> 6. Jelaskan mengenai MVC dan HMVC. </p>

<p> Jawaban : </p>

<p> MVC (Model, View, dan Controller) sistem komponen terpisah secara jelas, sehingga memungkinkan pemisahan tanggung jawab dan memudahkan pengembangan, pemeliharaan, dan pengujian aplikasi. Sedangkan HMVC adalah perluasan dari konsep MVC dengan menambahkan hierarki yang lebih kompleks dan memungkinkan aplikasi terbagi menjadi set set MVC yang lebih kecil. Hal ini membantu meningkatkan modularitas dan struktur dalam pengembangan aplikasi web. </p>