<p> 7. Sebutkan fungi curl() dalam php </p>

<p> Jawaban : </p>

<p> Fungi curl() dalam php adalah untuk melakukan permintaan HTTP ke server dari PHP. Ini memungkinkan Anda untuk mengambil atau mengirim data dari atau ke server melalui berbagai protokol seperti HTTP, HTTPS, FTP, dan lainnya. </p> 