<p> 8. Bagaimana menampilkan sebuah element array dalam PHP</p>

<p> Jawaban : </p>

<p> Untuk menampilkan sebuah element array dalam PHP, bisa menggunakan index elemen tersebut. Index dimulai dari 0 untuk elemen pertama, 1 untuk elemen kedua, dan seterusnya. </p>

<p> <?php </p>
<p> // array </p>
<p> $buah = array("Apel", "Pisang", "Jeruk"); </p>

<p> // Menampilkan elemen pertama dari array </p>
<p> echo $buah[0]; // Output: Apel </p>

<p> // Menampilkan elemen kedua dari array </p>
<p> echo $buah[1]; // Output: Pisang </p>

<p> // Menampilkan elemen ketiga dari array </p>
<p> echo $buah[2]; // Output: Jeruk </p>
<p> ?> </p>