<p> 9. Perbedaan HTTP dan HTTPS </p>

<p> Jawaban : </p>

<p> Perbedaan utama antara HTTP dan HTTPS adalah pada tingkat keamanan. HTTPS memberikan lapisan keamanan tambahan dengan menggunakan enkripsi SSL/TLS untuk melindungi data selama transfer antara klien dan server, sementara HTTP tidak menyediakan enkripsi dan rentan terhadap serangan keamanan. </p>